@font-face {
    font-family: "DIN Pro";
    src: url("../fonts/DINPro-Medium.eot");
    src: local("DIN Pro Medium"), local("DINPro-Medium"),
        url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
