:root {
  --white: #fff;
  --black: #000;
  --red: #c2002e;
  --red-dark: #a60229;
  --green1: #7eb928;
  --green2: #76bc34;
  --gray: #393e42;
  --gray-bg: #f3f3f3;
  --text: #393d41;
  --text-gray: #8c8c8c;
  --text-footer: #8b8e90;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--black);
  background: #e5e5e5;
}
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
* {
  box-sizing: border-box;
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter {
  width: 100%;
  max-width: 600px;
  background-color: var(--red);
  .container {
    width: 100%;
    padding: 0 30px;
    @media (max-width: 568px) {
      padding: 0 15px;
    }
  }
  // .letter__nav
  &__nav {
    padding: 12px 0;
  }
  // .letter__order
  &__order {
    margin-top: 15px;
  }
  // .letter__content
  &__content {
  }
  // .letter__promo
  &__promo {
    margin-bottom: 18px;
  }
  // .letter__note
  &__note {
    background-color: var(--red-dark);
    text-align: center;
    font-size: 13px;
    line-height: 23px;
    color: var(--white);
    padding: 21px 0 20px;
    a {
      color: var(--white);
    }
  }
  // .letter__options
  &__options {
    background-color: var(--green2);
  }
  // .letter__footer
  &__footer {
    background-color: var(--gray);
    padding-top: 13px;
    padding-bottom: 37px;
  }
}
.top-nav {
  display: flex;
  align-items: center;
  // .top-nav__logo
  &__logo {
  }
  // .top-nav__profile
  &__profile {
    margin-left: auto;
  }
  // .top-nav__burger
  &__burger {
    margin-left: 9px;
  }
}
.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  span {
    width: 22px;
    height: 3px;
    background-color: var(--green1);
    display: block;
    position: relative;
    &::before,
    &::after {
      content: "";
      width: 22px;
      height: 3px;
      background-color: var(--green1);
      display: block;
      position: absolute;
      left: 0;
    }
    &::before {
      top: -6px;
    }
    &::after {
      bottom: -6px;
    }
  }
}
.order-desc {
  // .order-desc__wrapper
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  // .order-desc__text
  &__text {
    position: relative;
    margin-left: 30px;
    max-width: 370px;
    border-radius: 20px;
    background-color: var(--red-dark);
    padding: 25px 15px;
    margin-top: 15px;
    color: var(--white);
    font-size: 13px;
    line-height: 16px;
    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 38px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 27px solid var(--red-dark);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      top: 50%;
      right: -22px;
      transform: translateY(-50%);
    }
    @media (max-width: 568px) {
      max-width: 100%;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 30px;
      &::after {
        display: none;
      }
    }
  }
  // .order-desc__man
  &__man {
    flex: 0 0 182px;
    margin-right: 8px;
    height: 188px;
    margin-top: auto;
    @media (max-width: 568px) {
      display: none;
    }
  }
}
.order-content {
  background: url("../img/bg.svg") center no-repeat;
  // .order-content__wrapper
  &__wrapper {
    background-color: var(--white);
    border-radius: 8px;
  }
  // .order-content__legend
  &__legend {
    display: flex;
    min-height: 47px;
    align-items: center;
    background-color: var(--green1);
    border-radius: 8px 8px 0 0;
    font-family: "DIN Pro", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: var(--white);
    text-transform: uppercase;
    .order-content__quantity,
    .order-content__price {
      font-weight: 500;
      font-size: 12px;
      color: var(--white);
    }
  }
  // .order-content__good
  &__good {
    flex: 1 1 auto;
    padding-left: 15px;
  }
  // .order-content__quantity
  &__quantity {
    margin-left: auto;
    flex: 0 0 95px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    color: var(--text);
    .normal {
      @media (max-width: 375px) {
        display: none;
      }
    }
    .xsm {
      display: none;
      @media (max-width: 375px) {
        display: block;
      }
    }
    @media (max-width: 480px) {
      flex: 0 0 87px;
    }
    @media (max-width: 375px) {
      flex: 0 0 55px;
    }
  }
  // .order-content__price
  &__price {
    flex: 0 0 115px;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: var(--text);
    @media (max-width: 375px) {
      flex: 0 0 95px;
    }
  }
  // .order-content__table
  &__table {
    background-color: var(--white);
  }
  // .order-content__item
  &__item {
    display: flex;
    align-items: center;
    padding: 15px 0 11px;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(196, 196, 196, 0.19);
    }
  }
  // .order-content__info
  &__info {
    background-color: var(--gray-bg);
    border-radius: 0 0 8px 8px;
    padding-top: 20px;
    padding-bottom: 21px;
  }
}
.order-good {
  display: flex;
  align-items: center;
  @media (max-width: 480px) {
    flex-wrap: wrap;
  }
  // .order-good__image
  &__image {
    flex: 0 0 94px;
    @media (max-width: 480px) {
      flex: 1 1 100%;
      text-align: center;
    }
  }
  // .order-good__link
  &__link {
    margin-left: 24px;
    a {
      font-size: 12px;
      line-height: 17px;
      color: var(--text);
      &:hover {
        text-decoration: none;
      }
    }
    @media (max-width: 480px) {
      flex: 1 1 100%;
      margin-left: 0;
      text-align: center;
    }
  }
}
.order-info {
  display: flex;
  @media (max-width: 414px) {
    flex-wrap: wrap;
  }
  // .order-info__item
  &__item {
    flex: 0 0 50%;
    display: flex;
    align-items: flex-start;
    padding-left: 15px;
    &:first-child {
      padding-left: 31px;
      @media (max-width: 480px) {
        padding-left: 15px;
      }
      @media (max-width: 414px) {
        margin-bottom: 20px;
      }
    }
    @media (max-width: 414px) {
      flex: 1 1 100%;
      padding-right: 15px;
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  // .order-info__icon
  &__icon {
    margin-right: 15px;
    margin-top: 3px;
    @media (max-width: 414px) {
      min-width: 37px;
    }
  }
  // .order-info__text
  &__text {
    font-size: 11px;
    line-height: 13px;
    color: var(--text-gray);
  }
  // .order-info__top
  &__top {
    font-size: 12px;
    color: var(--text);
    margin-bottom: 7px;
    p {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}
.delivery-item {
  padding: 9px 0;
  .order-content__good {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: var(--text);
    padding-left: 45px;
    background: url("../img/icons/delivery.svg") 15px center no-repeat;
    background-size: 19px auto;
  }
}
.total-item {
  padding: 9px 0;
  .order-content__good {
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: var(--text);
  }
}
.promo {
  // .promo__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .promo__item
  &__item {
    flex: 0 0 auto;
    position: relative;
    a {
      z-index: 1;
      position: relative;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 108px;
      border-radius: 8px;
      bottom: 3px;
      left: 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    @media (max-width: 538px) {
      margin: 0 auto;
    }
  }
  // .promo__text
  &__text {
    margin-top: 23px;
    text-align: center;
    font-size: 15px;
    line-height: 31px;
    color: var(--white);
    p {
      font-weight: bold;
    }
  }
}
.options {
  // .options__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }
  // .options__logo
  &__logo {
    margin: 20px 11px 0 0;
    @media (max-width: 450px) {
      flex: 1 1 100%;
      text-align: center;
    }
  }
  // .options__list
  &__list {
    display: flex;
    @media (max-width: 450px) {
      flex: 1 1 100%;
      justify-content: space-between;
    }
  }
  // .options__item
  &__item {
    margin: 5px 0 3px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
.footer {
  // .footer__top
  &__top {
    display: flex;
    @media (max-width: 375px) {
      flex-wrap: wrap;
    }
  }
  // .footer__info
  &__info {
    color: var(--text-footer);
    font-size: 9px;
    line-height: 14px;
    margin-top: 16px;
    a {
      color: var(--text-footer);
    }
    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      span {
        display: block;
        margin-top: 5px;
      }
    }
  }
}
.top-footer {
  // .top-footer__item
  &__item {
    color: var(--white);
    flex: 0 0 100%;
    max-width: 257px;
    &:first-child {
      max-width: 255px;
      @media (max-width: 375px) {
        max-width: 100%;
        margin-bottom: 15px;
      }
    }
    @media (max-width: 538px) {
      flex: 1 1 50%;
    }
    @media (max-width: 375px) {
      flex: 1 1 100%;
      max-width: 100%;
      text-align: center;
    }
  }
  // .top-footer__title
  &__title {
    font-weight: bold;
    font-size: 11px;
    line-height: 23px;
  }
  // .top-footer__call
  &__call {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: var(--white);
    text-decoration: none;
    margin-top: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
  // .top-footer__social
  &__social {
    margin-top: 9px;
  }
}
.social-footer {
  // .social-footer__list
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .social-footer__item
  &__item {
  }
}
.info-footer {
  // .info-footer__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  // .info-footer__web
  &__web {
  }
  // .info-footer__copyright
  &__copyright {
  }
}
